
#titlesArchive {
    display: grid;
    grid-template-columns: 30% 15% 20% 25%;
}

#itemArchive {
    width: 100%;
    height: 55px;
    background-color: white;
    margin-bottom: 6px;
    border-color: #868686;
    border-width: 1px;
    border-style: solid;
    display: grid;
    grid-template-columns: 30% 15% 20% 25%;
    color: black;
    margin-left: auto;
    border-radius: 3px;
}

#itemArchive :first-child {
    margin-left: 20px;
}

#titlesArchive :first-child {
    margin-left: 20px;
}
