.upload-container-edit {
  width: 85%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
}

.gegevens-edit {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    z-index: 10;
    position: absolute;
    margin-top: 49px;
    margin-left: 128px;
    width: 350px;
  }
  
  #myUL li #searchList {
    border: 1px solid rgb(155, 155, 155);
    border-top: none;
    background-color: #f6f6f6;
    padding: 10px;
    font-size: 18px;
    color: black;
    margin: auto;
    cursor: pointer;
  }
  
 
  
  
  #searchOutput {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: auto;
    z-index: 20;
  }
  
  #searchOutputButtons {
    background-color: white;
  }
  
  .NaamEdit,
  .Email,
  .Date,
  .Type {
    right: 350px;
    background-color: #f4f4f4;
    font-size: 20px;
    padding: 12px;
    width: 450px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: black solid 1px;
  }
  
  .Type {
    width: 477px;
  }
  
  .ZoekEdit {
    width: 350px;
    background-color: #f4f4f4;
    font-size: 20px;
    padding: 12px;
    border: black solid 1px;
    border-radius: 5px;
  }
  
  .verstuur-edit {
    font-size: 20px;
    background-color: #22421f;
    color: white;
    padding: 12px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    width: fit-content;
    margin-top: 25px;
  }
  
  
  .verstuur-edit:hover {
    background-color: #133610;
  }