#buttonItem {
    font-size: 20px;
    background-color: #22421f;
    color: white;
    padding: 12px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    width: fit-content;
    margin-left: 250px;
}

#buttonItem2 {
    width: fit-content;
    font-size: 19px;
    margin-top: auto;
    color: #22421f;
    padding: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    padding-left: 20px;
}
tr{
    cursor: pointer;
}

tr:first-child
 {
    text-align: center;
    cursor: auto;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:not(:first-child):hover {
    background-color: #e0e0e0; 
}

#tableInfoLoan {
    height: 215px;
    overflow-y: auto;
}

#customersList {
    margin-top: -230px;
    margin-left: 130px;
    min-width: 500px;
}

.ZoekVeldLoan {
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: black solid 1px;
}

#buttons2 {
    padding: 12px 0px 12px 0px;
    font-size: 19px;
    margin-left: 250px;
    display: flex;
    flex-direction: row;
}

#buttonItem:hover {
    background-color: #133610;
}

#collegue {
    display: flex;
}

.InfoLoanContainer {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

#LoanInfo {
    font-size: 20px;
}

#LoanTitle {
    font-size: 30px;
    font-weight: 500;
}

#EditButton {
    color: rgb(82, 81, 81);
    padding: 5px 0 0 0;
    font-size: 15px;
}