#login-body {
  background-image: url("../Pictures/green-background-blur2.png");
  background-size: 100% 100%;
  position: absolute;
  height: 100%;
  width: 100%;
}

#logo-login {
  width: 150px;
  padding: 1% 0% 0% 1.5%;
}

#login-container {
  background-color: #aec5a6;
  border-radius: 10%;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  height: 450px;
  width: 25%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#background-circel {
  width: 100%;
  height: 90%;
  border-radius: 140% 0 15% 15%;
  background-color: rgb(150, 172, 144);
  margin-left: auto;
  margin-top: auto;
}

#alignment-body {
  margin-top: -110px;
  margin-left: auto;
  margin-right: auto;
}

#profile-icon {
  margin: auto;
}

.circle {
  height: 120px;
  width: 120px;
  background-color: #22421f;
  border-radius: 100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
  display: flex;
  margin-bottom: 70px;
}

.input-container {
  display: flex;
  margin-left: 10%;
  margin-right: 13%;
  margin-bottom: 7%;
}

.icon-profile-fill {
  padding: 5px 3px 0px 3px;
}

.space {
  width: 30px;
}

#eye-icon {
  height: 30px;
  margin-left: -35px;
  margin-top: 8px;
  cursor: pointer;
}

.icon-lock {
  height: 44px;
  padding: 8px 5.5px 0px 5.5px;
}

#icon {
  background-color: #ffffff;
  border-radius: 4px 0px 0px 4px;
}

.login-button {
  width: 80%;
  height: 45px;
  font-size: 25px;
  background-color: #22421f;
  color: white;
  margin-left: 10%;
  cursor: pointer;
  display: unset;
  border-bottom: 3px solid #133610;
  border-right: 3px solid #133610;
}

.login-button:hover {
  background-color: #133610;
  border-radius: 4px;
  border-left: 3px solid rgb(150, 172, 144);
  border-top: 3px solid rgb(150, 172, 144);
  border-bottom: none;
  border-right: none;
}

#error-message {
  color: rgb(153, 17, 17);
  font-weight: 500;
  font-size: 16px;
  padding-left: 10%;
  padding-top: 5px;
}

#input-wachtwoord,
#input-email {
  border-color: rgb(205, 205, 205);
  background-color: rgb(205, 205, 205);
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  font-size: 22px;
  padding-left: 10px;
  border-radius: 0px 4px 4px 0px;
}

#verstuur-button{
  margin-top: 150px;
}

#forgot-password{
  font-weight: 500;
  font-size: 16px;
  padding-left: 10%;
  padding-top: 5px;
  color: rgb(43, 43, 43);
}

#forgot-password:hover{
  text-decoration: underline;
}

#input-wachtwoord {
  margin-bottom: 60px;
}

button {
  cursor: pointer;
}