.overview-container {
    width: 85%;
    margin: auto;
    margin-top: 80px;
}

#topside {
    display: flex;
    height: 70px;
}

#h1-overview {
    margin: auto auto auto 0;
    min-width: 280px;
}

#searchfield-overview,
#filter-dropdown {
    width: 250px;
    height: 35px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 8px;
    border-width: 1px;
    margin-top: 20px;
    border: rgb(0, 0, 0) solid 1px;
}

#titles-overview-documents {
    display: grid;
    grid-template-columns: 10% 30% 15% 15% 20% 10%;
}

#item-documents {
    width: 100%;
    height: 55px;
    background-color: white;
    margin-bottom: 6px;
    border-color: #868686;
    border-width: 1px;
    border-style: solid;
    display: grid;
    grid-template-columns: 10% 30% 15% 15% 20% 10%;
    color: black;
    margin-left: auto;
    border-radius: 3px;
    cursor: pointer;
}

#titles-overview-archive {
    display: grid;
    grid-template-columns: 2% 30% 15% 15% 28% 10%;
    font-size: large;
}

#item-archive {
    width: 100%;
    height: 55px;
    background-color: white;
    margin-bottom: 6px;
    border-color: #868686;
    border-width: 1px;
    border-style: solid;
    display: grid;
    grid-template-columns: 2% 30% 15% 15% 28% 10%;
    color: black;
    margin-left: auto;
    border-radius: 3px;
    cursor: pointer;
}

#titles-overview-employee {
    display: grid;
    grid-template-columns: 2% 25% 49% 4% 10% 7%;
}

#item-employees {
    width: 100%;
    height: 55px;
    background-color: white;
    margin-bottom: 6px;
    border-color: #868686;
    border-width: 1px;
    border-style: solid;
    display: grid;
    grid-template-columns: 2% 25% 49% 4% 10% 4%;
    color: black;
    margin-left: auto;
    border-radius: 3px;
    cursor: pointer;
}

#titles-overview-products {
    display: grid;
    grid-template-columns: 2% 18% 15% 15% 18% 20% 12%;
}

#item-products {
    width: 100%;
    height: 55px;
    background-color: white;
    margin-bottom: 6px;
    border-color: #868686;
    border-width: 1px;
    border-style: solid;
    display: grid;
    grid-template-columns: 2% 18% 15% 15% 18% 20% 4%;
    color: black;
    margin-left: auto;
    border-radius: 3px;
    cursor: pointer;
}

#urgentie-symbool {
    width: 50px;
    margin-top: 8px;
    margin-left: 8px;
}

#button-history{
    background-color: #22421f;
    color: white;
    height: fit-content;
    padding: 8px 12px 8px 12px;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: 3px solid #133610;
    border-right: 3px solid #133610;
}

#button-history:hover {
    background-color: #133610;
    border-radius: 5px;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    border-bottom: none;
    border-right: none;
}

#button-archive{
    background-color: #22421f;
    color: white;
    height: fit-content;
    padding: 5px 12px 5px 12px;
    border-bottom: 3px solid #133610;
    border-right: 3px solid #133610;
    font-size: 20px;
    margin: auto 0px auto 30px;
}

#button-archive:hover {
    background-color: #133610;
    border-radius: 5px;
    border-left: 3px solid #afaeae;
    border-top: 3px solid #afaeae;
    border-bottom: none;
    border-right: none;
}


#klantnaamTekst,
#typeTekst {
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#checkboxA {
    width: 18px;
    height: 18px;
}

#klantnaamTekst,
#geldigVanTekst,
#geldigTotTekst,
#checkboxArchive,
#typeTekst {
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
}


#long-valid-link{
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    color: black;
}

#long-valid-link svg {
    margin-left: 7px;
    margin-top: 3px; 
}

#paging {
    display: flex;
    justify-content: space-between;
}

.popup-button {
    display: block;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
