.SuccessPopup {
    background-color: #10b473 !important; 
  }
  
  #CrossCircle {
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 21px;
    min-width: 300px
  }
  
  #ErrorItem {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }
  
  #ErrorItemCross {
    margin-left: auto;
    margin-bottom: -5px;
  }
  
  
  #buttonClose {
    background-color: #d85353;
      border: none;
  }
  
  .Error {
    background-color: #d85353;
    padding: 10px;
    border-radius: 7px;
  }
  
  .popup-container {
    padding-right: 10px;
    position: fixed;
    bottom: 10px;
    right: -600px;
    transition: right 0.3s ease-in-out;
  }
  
  .popup-container.active {
      right: 0;
  }
  
  #message {
    margin-left: 45px;
    margin-top: 8px;
    color: white;
  }